@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: Lato;
  background-color: #f7f7f7; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.background {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url(../img/fullscreen.png) center/cover no-repeat; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 68px 0 0 0; }
    .nav__link li {
      padding: 0px 37.5px;
      position: relative; }
      .nav__link li:nth-child(2) {
        padding: 0 110px 0 37.5px; }
      .nav__link li:nth-child(3) {
        padding: 0 37.5px 0 110px; }
      .nav__link li:after {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #4d4959;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -2px 0 0 0; }
      .nav__link li:nth-child(2):after, .nav__link li:last-child:after {
        display: none; }
      .nav__link li a {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #4d4959; }
  .nav__logo {
    position: absolute;
    top: 35px; }

.title {
  font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1600 - 320)));
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738; }

.text {
  font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(23px + (34 - 23) * ((100vw - 320px) / (1600 - 320)));
  color: #848789; }

.generation {
  background: #f7f7f7; }
  .generation__container {
    padding: calc(20px + (117 - 20) * ((100vw - 320px) / (1600 - 320))) calc(15px + (260 - 15) * ((100vw - 320px) / (1600 - 320)));
    text-align: center; }

.block__green-icons {
  padding: 0 0 34px 0;
  padding-bottom: calc(16px + (34 - 16) * ((100vw - 320px) / (1600 - 320))); }

.block__title {
  padding: 0 0 27px 0;
  padding-bottom: calc(12px + (27 - 12) * ((100vw - 320px) / (1600 - 320))); }

.block__text {
  padding-bottom: calc(0px + (17 - 0) * ((100vw - 320px) / (1600 - 320))); }

.column_b {
  width: 66.6666%; }
  @media (max-width: 940px) {
    .column_b {
      width: 100%; } }

.column_m {
  width: 33.3334%; }
  @media (max-width: 940px) {
    .column_m {
      width: 100%; } }

.brends__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 940px) {
    .brends__row {
      display: block; } }

.brends__white-icons {
  background: url(../img/top/content__images_top-1.png) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }
  @media (max-width: 940px) {
    .brends__white-icons {
      padding: 21.84% 0; } }

.brends__item {
  background: url(../img/top/content__images_top-2.png) center/cover no-repeat;
  padding: 0 0 37.51% 0; }

.desc {
  background: #fff;
  position: relative; }
  .desc:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff; }
  .desc__container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: calc(20px + (55 - 20) * ((100vw - 320px) / (1600 - 320))) calc(15px + (67.5 - 15) * ((100vw - 320px) / (1600 - 320))); }
  .desc__green-icons {
    padding: 15px 0 31px 0;
    padding-bottom: calc(13px + (31 - 13) * ((100vw - 320px) / (1600 - 320)));
    padding-top: calc(5px + (15 - 5) * ((100vw - 320px) / (1600 - 320))); }
  .desc__title {
    padding: 0 0 18px 0;
    padding-bottom: calc(12px + (18 - 12) * ((100vw - 320px) / (1600 - 320))); }
  .desc__text {
    text-align: justify;
    padding: 0 0 32px 0;
    padding-bottom: calc(14px + (32 - 14) * ((100vw - 320px) / (1600 - 320))); }
  .desc__dash {
    height: 1px;
    width: 12.5%;
    background-color: rgba(53, 55, 56, 0.2); }

.brends__item_bg-3 {
  background: url(../img/top/content__images_top-3.png) center/cover no-repeat; }

.brends__white-icons_bg-4 {
  background: url(../img/top/content__images_top-4.png) center/cover no-repeat; }

.brends__white-icons_bg-5 {
  background: url(../img/top/content__images_top-5.png) center/cover no-repeat; }

.brends__item_bg-6 {
  background: url(../img/top/content__images_top-6.png) center/cover no-repeat; }

.brends__bg-7 {
  background: url(../img/top/content__images_top-7.png) center/cover no-repeat; }
  @media (max-width: 940px) {
    .brends__bg-7 {
      padding: 28% 0; } }

.aod__container {
  max-width: 1051px;
  margin: 0 auto;
  text-align: center;
  padding: 68px 15px; }

.aod__icon {
  display: block;
  padding: 0 0 37px 0;
  color: #56c7ee;
  font-size: 32px; }

.aod__title {
  padding: 0 0 19px 0; }
  .aod__title span {
    font-weight: 300;
    color: #848789; }

.aod__text {
  padding: 0 0 96px 0; }

.aod__row-elips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 53px;
  margin: 0 auto; }
  .aod__row-elips a {
    display: block;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    width: 11px;
    border: 1px solid #c8c8c8; }
    .aod__row-elips a:hover {
      background-color: #a9afb3; }

.images-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  @media (max-width: 940px) {
    .images-block {
      display: block; } }
  .images-block__outside {
    width: 33.33333%; }
    @media (max-width: 940px) {
      .images-block__outside {
        width: 100%; } }
  .images-block__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33.33334%; }
    @media (max-width: 940px) {
      .images-block__center {
        width: 100%; } }

.outside__mini-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.image__tiny {
  position: relative;
  width: 50%; }
  .image__tiny img {
    width: 100%;
    height: 100%; }

.image__big {
  position: relative; }
  .image__big img {
    width: 100%;
    height: 100%; }

.hover {
  background-color: rgba(100, 194, 158, 0.8);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }
  .hover:hover {
    opacity: 1; }
  .hover__icon {
    padding: 0 0 14px 0; }
  .hover__text {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff; }

.center__narrow {
  position: relative;
  width: 50%; }
  .center__narrow img {
    width: 100%;
    height: 100%; }

.shop {
  background-color: #282f35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .shop div {
    display: block;
    margin: 75px 0;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.49);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .shop div:hover {
      border: 1px solid #ffffff; }
    .shop div a {
      display: block;
      padding: 21px 57.5px 19px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: #ffffff;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .shop div a:hover {
        color: #000000;
        background: rgba(255, 255, 255, 0.49); }

input::-webkit-input-placeholder {
  color: #929292; }

.email {
  background: #fff;
  text-align: center; }
  .email__icon img {
    margin: 109px 0 39px 0; }
  .email__label {
    padding: 0 0 35px 0;
    font-family: Lato;
    font-size: 24px;
    font-style: italic;
    color: #848789; }
  .email__form {
    padding: 0 0 111px 0; }
    .email__form input {
      width: 400px;
      background-color: #ffffff;
      border: 1px solid #d3d7d9;
      font-family: Lato;
      font-size: 20px;
      font-style: italic;
      padding: 28px 0 24px 28px; }
      @media (max-width: 660px) {
        .email__form input {
          margin: 0 10px 30px 10px;
          width: 300px; } }
    .email__form button {
      margin: 0 0 0 8px;
      padding: 26px 45px;
      background-color: #64c29e;
      font-size: 24px;
      font-weight: 300;
      color: #ffffff; }

.footer {
  background: #f7f7f7; }
  .footer__container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 99px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 660px) {
      .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .footer__address {
    font-size: 13.9px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    padding: 0 0 4px 0; }
    @media (max-width: 660px) {
      .footer__address {
        text-align: center;
        padding: 0 0 30px 0; } }
    .footer__address div {
      padding: 0 0 6px 0; }
      @media (max-width: 660px) {
        .footer__address div {
          padding: 0 0 15px 0; }
          .footer__address div:last-child {
            padding: 0; } }
    .footer__address:last-child {
      padding: 0; }
    .footer__address a {
      color: #848789; }
  .footer__font-weigt {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    padding: 0 0 6px 0; }
  .footer__sociate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 660px) {
      .footer__sociate {
        padding: 0 0 30px 0; } }
    .footer__sociate i {
      color: #fff; }
    .footer__sociate a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 35px;
      height: 34px;
      border-radius: 50%;
      margin: 0 7.5px 0; }
  .footer__twitter {
    background: #78cdf0; }
  .footer__facebook {
    background: #537bbd; }
  .footer__pinterest {
    background: #eb5755; }
  .footer__autor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__text {
    padding: 0 9px 0 0;
    font-size: 13.9px;
    line-height: 17px;
    font-style: italic;
    color: #848789; }
